<footer>
<div class="container">
        <div class="row">
          <div class="col-md-7">
            <h3 class="footer-title">Follow Us!</h3>



<div class="map-container">
    <img class="img-thumbnail img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?center={{map.address}}&zoom={{map.zoom}}&size={{mapDimensions()}}&markers=color:red|{{map.address}}" />
    <br />
    <div class="zoom-controls">
        <button class="zoom-button btn btn-primary" ng-click="zoomIn()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button class="zoom-button btn btn-primary" ng-click="zoomOut()">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </div>
</div>









          </div> <!-- /col-xs-7 -->
		
          <div class="col-md-5">
            <div class="footer-banner">
              <h3 class="footer-title">The Monkeys</h3>
              <ul>
                <li>31 Dublin</li>
                <li>Co Dublin</li>
                <li>Ireland</li>
              </ul>
             </div> 
          </div> 
        </div> 
      </div> 
</footer>